// Fonts Variables

$primaryFont: "Inter";

$bold: 700;
$semibold: 600;
$medium: 500;
$normal: 400;

// Colors Variables

$primaryColor: white;

$black: #000000;
$white: white;

$gray1: #242424;

// Container Variables

$containerWidth: 100%;
$containerPadding: 1.25rem;